@media(max-width:600px){

    body{
        height: 130vh;
    }

    .card-main{
        flex-direction: column-reverse;
        padding: 1px;
        padding-bottom: 10px;
    }

    .img-form{
        margin-bottom: 20px;
    }

    .attribution{
        display: none;
    }

    .modal{
        width: 300px;
        box-shadow: 0px 0px white;
    }
}

@media(max-width:470px){

    body{
        background: white;
    }
}

@media(max-width:350px){

    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: block;
    }

    body{
        height: 100vh;
    }

}